workflows/rousi定时签到.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "签到",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "签到完成",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "签到失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "签到": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-20T06:21:14.298Z",
  "id": "r5k0SIfQzfvEnChj",
  "name": "rousi定时签到",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "2b8c8166-5720-4648-a002-46ce7ee558ed",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://rousi.zip/attendance.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "04437fc8-dae7-4fc8-b380-60314c4d59f2",
      "name": "签到",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mNspSnujtRf2aYP5",
          "name": "rousi.zip"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"msgtype\": \"text\",\n    \"text\": {\n        \"content\": \"rousi签到成功\",\n\t\t\"mentioned_list\":[\"HeJie\"]\n    }\n}",
        "options": {}
      },
      "id": "5336ca2f-c80c-46b9-a33b-2d402522212a",
      "name": "签到完成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        220
      ],
      "retryOnFail": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "TMvXuUaW4SSXpmd1",
          "name": "qq enterprise robot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9ac23a78-6ad9-4126-bb22-33dbe37973bf",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        620,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"msgtype\": \"text\",\n    \"text\": {\n        \"content\": \"rousi签到失败，请人工签到\",\n\t\t\"mentioned_list\":[\"HeJie\"]\n    }\n}",
        "options": {}
      },
      "id": "f1db25a3-e333-42e8-9654-0d4f982c0781",
      "name": "签到失败",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        440
      ],
      "retryOnFail": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "TMvXuUaW4SSXpmd1",
          "name": "qq enterprise robot"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "id": "AVNKICFjrk83NMcV",
      "createdAt": "2023-08-20T09:07:19.799Z",
      "updatedAt": "2023-08-20T09:07:19.799Z",
      "name": "PT签到"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-08-21T06:15:25.000Z",
  "versionId": "6d821bf0-e3dd-4862-a73e-67d9a4374db2"
}